@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", serif, sans-serif;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h3 {
  margin: 0;
}

/* Variables*/
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0px;
    line-height: 0vh;
  }
}

@keyframes off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0px;
    line-height: 0vh;
  }
}

@-webkit-keyframes delay {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes delay {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#main__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  height: auto;
  text-align: center;
  margin: 25px 0 25px 0;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d7d5d5), color-stop(10%, #ececec));
  background: linear-gradient(to bottom, #d7d5d5 0%, #ececec 10%);
  font-size: 18px;
}

@media only screen and (min-width: 992px) {
  .location {
    padding: 40px;
  }
}

.location__icon {
  padding: 0 20px 0 50px;
}

@media only screen and (max-width: 350px) and (min-width: 310px) {
  .location__icon {
    padding: 0 30px 0 50px;
  }
}

.place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book {
  background-color: rgba(243, 241, 241, 0.86);
  text-align: center;
}

.book__title {
  font-size: 24px;
  font-weight: 700;
  margin: auto;
  text-align: center;
  padding: 30px 10px 0;
}

.book__description {
  font-size: 20px;
  text-align: center;
  padding: 0 10px 0;
}

.settings {
  text-align: left;
  width: 100%;
}

.settings__container {
  margin-bottom: 50px;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .settings__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 992px) {
  .settings__container {
    margin-bottom: 30px;
  }
}

.settings__container__title {
  margin: 40px 0 20px 25px;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .settings__container__title {
    text-align: center;
  }
}

.instructions {
  list-style: none;
  margin: 0 5px 0 30px;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .instructions {
    margin: 40px 40px 0 0;
  }
}

@media only screen and (min-width: 992px) {
  .instructions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 20px;
  }
}

.instructions__steps {
  position: relative;
  padding: 20px;
  background-color: rgba(239, 237, 237, 0.711);
  -webkit-box-shadow: 0px 5px 10px rgba(172, 172, 172, 0.515);
          box-shadow: 0px 5px 10px rgba(172, 172, 172, 0.515);
  border-radius: 25px;
  margin: 0 15px 15px 0;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .instructions__steps {
    width: 23%;
  }
}

.instructions__step {
  position: absolute;
  left: -10px;
  height: 30px;
  width: 30px;
  background-color: #9256dc;
  color: white;
  border-radius: 50%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instructions__step--order {
  position: absolute;
  right: 11px;
  top: 5px;
}

.instructions__icon {
  padding: 10px 20px;
}

.instructions__icon--store {
  padding: 10px 20px;
  color: #9256dc;
}

.instructions__text {
  font-weight: bold;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: rgba(243, 241, 241, 0.86);
}

@media only screen and (min-width: 992px) {
  .restaurants {
    background-color: white;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .restaurants {
    background-color: white;
  }
}

.restaurants__title {
  margin: 50px 0 0 30px;
  font-size: 26px;
}

.restaurants__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 20px 10px 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media only screen and (min-width: 992px) {
  .restaurants__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .restaurants__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.restaurants__cards {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

@media only screen and (min-width: 992px) {
  .restaurants__cards {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .restaurants__cards {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.restaurants__cards__card {
  border: 1px solid transparent;
  margin: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(172, 172, 172, 0.515);
          box-shadow: 0 0 10px rgba(172, 172, 172, 0.515);
  background-color: white;
}

.restaurants__image {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurants__image img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__image__new {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  right: 40px;
  top: 10px;
  padding: 5px 15px;
  background-color: #99E2D0;
  border-radius: 3px;
  color: #278870;
}

.restaurants__body {
  text-decoration: none;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.restaurants__body__place {
  padding-top: 5px;
}

.restaurants__body__place__btn {
  border: transparent;
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 30px;
  position: absolute;
  top: 15px;
  right: 50px;
  cursor: pointer;
}

.restaurants__body__place__btn:hover .restaurants__body__place__btn__like {
  opacity: 1;
}

.restaurants__body__place__btn__like {
  opacity: 0;
  background-image: linear-gradient(175deg, #FF79DA, #9256dc);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fa-heart {
  position: absolute;
}

.menu__image {
  max-width: 100%;
  max-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menus {
  background-color: #f5f5f5;
}

@media only screen and (min-width: 992px) {
  .menus {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    max-width: 31%;
  }
}

.menus__title {
  padding: 30px 0 5px 5px;
  font-size: 20px;
  font-weight: 300;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .menus__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
}

.progress {
  height: 5px;
  width: 50px;
  margin: 0 0 20px 5px;
  border: 1px solid transparent;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .progress {
    height: 5px;
    width: 70%;
    margin: auto;
    border: 1px solid transparent;
  }
}

.progress__bar {
  height: 5px;
  background-color: #99E2D0;
  -webkit-transform-origin: left 50%;
  transform-origin: left 50%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 100ms;
  transition: 100ms;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .progress__bar {
    height: 5px;
    background-color: #99E2D0;
    -webkit-transform-origin: left 50%;
    transform-origin: left 50%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 400ms;
    transition: 400ms;
  }
}

h3:hover + .progress > .progress__bar {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  h3:hover + .progress > .progress__bar {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.loader {
  position: fixed;
  background-color: #9256dc;
  height: 100vh;
  width: 100%;
  line-height: 100vh;
  text-align: center;
  color: #FFF;
  font-size: 50px;
  -webkit-animation-name: off;
          animation-name: off;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1000;
}

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.spinner__quarter {
  position: relative;
  border-radius: 50px;
  border: 8px solid rgba(255, 121, 218, 0.4);
  margin-right: 40px;
}

.spinner__quarter:after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  border-top: 8px solid #FF79DA;
  border-radius: 50px;
  border: 8px solid transparent;
  border-top-color: #FF79DA;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

#main__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  height: auto;
  text-align: center;
  margin: 25px 0 25px 0;
}

@media only screen and (min-width: 992px) {
  #main__title {
    font-size: 40px;
  }
}

#main__title__menu {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  height: auto;
  text-align: center;
}

.fa-arrow-left-long {
  position: absolute;
  top: 35px;
  left: 40px;
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  padding: 0 15px;
  margin-top: -65px;
  border-radius: 30px 30px 0 0;
  background-color: #f5f5f5;
  z-index: 1;
}

.menu__container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .menu__container__header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 992px) {
  .menu__container__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu__container__header__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  padding: 5px;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .menu__container__header__title {
    font-size: 34px;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .menu__container__header__title {
    font-size: 34px;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .menus__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 100px;
  }
}

.meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  margin-bottom: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px rgba(172, 172, 172, 0.515);
          box-shadow: 0px 5px 10px rgba(172, 172, 172, 0.515);
  overflow: hidden;
  max-width: 100%;
  -webkit-animation: delay 400ms;
          animation: delay 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .meal {
    width: 70%;
  }
}

.meal__header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 992px) {
  .meal__header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.meal__header__name {
  margin: 5px;
  font-size: 18px;
  padding: 10px 0 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .meal__header__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.meal__header__name__ingredient {
  margin: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 10px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .meal__header__name__ingredient {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.meal__price {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 30px 15px 0;
  margin-left: auto;
}

.meal__check {
  width: 100px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -100px;
}

.meal:hover .meal__check {
  margin-right: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.meal__check__circle {
  background-color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.meal:hover .meal__check__circle {
  -webkit-transform: rotate(0deg) scale(1.5);
          transform: rotate(0deg) scale(1.5);
}

.delay--0 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.delay--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.delay--2 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.delay--2b {
  -webkit-animation-delay: 375ms;
          animation-delay: 375ms;
}

.delay--3 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.delay--4 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.delay--5 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.delay--6 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.delay--7 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.delay--8 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .meal__starters, .meal__mainDish, .meal__dessert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
}

.footer {
  background-color: #464545;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 992px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  height: auto;
  padding: 10px 0 20px 40px;
  color: #FFF;
}

@media only screen and (min-width: 992px) {
  .footer__logo {
    font-size: 26px;
    text-align: center;
    padding-bottom: 40px;
  }
}

.footer__lists {
  list-style: none;
  padding-bottom: 25px;
}

@media only screen and (min-width: 992px) {
  .footer__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 25px 0;
    margin: 0 200px;
  }
}

.footer__lists__list {
  margin-bottom: 10px;
}

.footer__lists__list__link {
  color: white;
}

.footer__icon {
  padding-right: 10px;
}

@media only screen and (min-width: 992px) {
  .footer__container {
    width: 100%;
  }
}

.search {
  border: none;
  background-color: transparent;
  font-size: 18px;
}

@media only screen and (max-width: 350px) and (min-width: 310px) {
  .search {
    font-size: 16px;
  }
}

.book__title__description__button {
  border: 0;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  background-color: #9256dc;
  background-image: linear-gradient(175deg, #FF79DA, #9256dc);
  opacity: 1;
  -webkit-box-shadow: 0px 5px 10px rgba(172, 172, 172, 0.515);
          box-shadow: 0px 5px 10px rgba(172, 172, 172, 0.515);
  margin-bottom: 50px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.book__title__description__button:hover {
  -webkit-transition-delay: 1ms, 150ms;
          transition-delay: 1ms, 150ms;
  -webkit-box-shadow: 0px 8px 10px rgba(172, 172, 172, 0.9);
          box-shadow: 0px 8px 10px rgba(172, 172, 172, 0.9);
  opacity: 0.9;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f5;
}

@media only screen and (min-width: 992px) {
  .order {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.order__button {
  border: 0;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  background-color: #9256dc;
  background-image: linear-gradient(175deg, #FF79DA, #9256dc);
  opacity: 1;
  -webkit-box-shadow: 0px 5px 10px rgba(172, 172, 172, 0.515);
          box-shadow: 0px 5px 10px rgba(172, 172, 172, 0.515);
  margin: 40px 0 80px 0;
}

.order__button:hover {
  -webkit-box-shadow: 0px 8px 10px rgba(172, 172, 172, 0.9);
          box-shadow: 0px 8px 10px rgba(172, 172, 172, 0.9);
  opacity: 0.9;
}

.order__text {
  padding: 20px 30px;
}

.menu__btn {
  border: transparent;
  background-color: #f5f5f5;
  font-size: 30px;
  position: relative;
  cursor: pointer;
  width: 100px;
}

.menu__btn:hover .menu__btn__heart__like {
  opacity: 1;
}

.menu__btn__heart, .menu__btn__heart__like {
  position: absolute;
  top: 32px;
  right: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__btn__heart__like {
  opacity: 0;
  background-image: linear-gradient(175deg, #FF79DA, #9256dc);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=main.css.map */