@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "./utils/variables";
@import "./utils/mixins";

// HEADER
.main__title{
    font-family: "Shrikhand", sans-serif;
    font-size: 30px;
    height: auto;
    text-align: center;
}

.fa-arrow-left-long{
    position: absolute;
    top:35px;
    left: 40px;
    cursor: pointer;
    transform: scale(1.5);
}

// RESTAURANT IMAGE

.menu__image{
    max-width: 100%;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}

// MAIN

.menu__container{
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding: 0 15px;
    margin-top: -65px;
    border-radius: 30px 30px 0 0;
    background-color: #f5f5f5;
    z-index: 1;  
    
}

.menu__header{
    display: flex;
    justify-content: space-between;
}

.menu__title{
    font-family: "Shrikhand", sans-serif;
    font-size: 30px;
    padding: 5px ;  
}

.menu__btn{
    border: transparent;
    background-color: #f5f5f5;
    font-size: 30px;
    position: relative;
    cursor: pointer;
    &:hover{
        .menu__like{
            opacity: 1;
        }
    }
}
.fa-heart{
        position: absolute;
        top: 32px;
        right: 25px;
        align-items: center;
        justify-content: flex-end;    
    }

.menu__like{
    opacity: 0;
    background-image: linear-gradient((175deg,$color-secondary, $color-primary));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    transition: all 450ms ease-in-out;
    transform: scale(1.2);
 
}



// MENU
.menus{
    background-color: #f5f5f5;
     &__title{
        padding: 30px 0 5px 5px;
        font-size: 20px;
        font-weight: 300;
    }
}


@keyframes delay {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }



.meal{
    display: flex;
    background-color: white ;
    margin-bottom: 15px;
    justify-content: space-between;
    border-radius: 20px;
    cursor: pointer;
    @include box-shadow;
    overflow: hidden;
    max-width: 100%;
    animation: delay 400ms;
    animation-fill-mode: forwards;
    transform: scale(0);

    &__header{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;     
    }
       &__name{
            margin: 5px;
            font-size: 18px;
            padding: 10px 0 0 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
            &__ingredient{
                margin: 5px;
                justify-content: space-between;
                padding: 0 0 10px 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
                &__price{
                    font-weight: bold;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding:0 30px 15px 0;
                    margin-left: auto;
                }    
                    &__check {
                        width: 100px;
                        background-color: $color-tertiary;
                        border-radius: 0 20px 20px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: -100px;
                    }    
                        &:hover .meal__check{
                            margin-right: 0;
                            transition: 400ms;
                        
                        }   
                            &__check__circle{
                                background-color: white;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -moz-background-clip: text;
                                color: transparent;
                                transform: scale(1.6);
                             }                                         
}

.delay{
    &--0{
        animation-delay: 100ms;
    }
    &--1{
        animation-delay: 200ms;
    }
    &--2{
        animation-delay: 300ms;
    }
    &--3{
        animation-delay: 400ms;
    }
    &--4{
        animation-delay: 500ms;
    }
    &--5{
        animation-delay: 600ms;
    }
    &--6{
        animation-delay: 700ms;
    }
    &--7{
        animation-delay: 800ms;
    }
    &--8{
        animation-delay: 900ms;
    }
}


// MEAL BAR
.progress {
  height: 5px;
  width: 50px;
  margin: 0 0 20px 5px;
  border: 1px solid transparent;
  
}

.progress__bar {
  height: 5px;
  background-color: #99E2D0;
}

h3:hover + .progress > .progress__bar {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.progress__bar {
  -webkit-transform-origin: left 50%;
          transform-origin: left 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 100ms;
  transition: 100ms;
}

// ORDER BTN
.order{
    display: flex;
    justify-content: center;
    &__button{
        @include mixin-btn;
        @include box-shadow;
        margin: 40px 0 80px 0;
        &:hover{
           @include box-shadow-darker;
           opacity: 0.9;
        }
    }
            &__text{
            padding: 20px 30px;
            }

}

// FOOTER

.footer{
    background-color: rgb(70, 69, 69);
    display: flex;
    flex-basis: 100%;
    align-items: center;
    &__logo{
        font-family: "Shrikhand", sans-serif;
        font-size: 20px;
        height: auto;
        padding:10px 0 20px 40px;
    }
        &__lists{
            list-style: none;
            padding-bottom: 25px;
        }
            &__list{
                margin-bottom: 10px;
            }
                &__link{
                   color: white;
                }
                    &__icon{
                        padding-right: 10px;
                    }
}
