@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/animations";
@import "./pages/spinner";

// LOADER SPINNER
.loader{
    position: fixed;
    background-color: $color-primary;
    height: 100vh;
    width: 100%;
    line-height: 100vh;
    text-align: center;
    color: #FFF;
    font-size: 50px;
    animation-name: off;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    z-index: 1000;
}


.spinner{
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.spinner__quarter{
    position: relative;
    border-radius: 50px;
    border: 8px solid rgba(255, 121, 218, 0.4);
    margin-right: 40px;
}

.spinner__quarter:after{
    content:'';
    position: absolute;
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    border-top: 8px solid $color-secondary;
    border-radius: 50px;
    border: 8px solid transparent;
    border-top-color: $color-secondary;
    animation: spin 2s linear infinite;

}

// KEY FRAMES LOADER
@keyframes spin {
    0% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes off{
    from {
      opacity: 1;
}
    to {
        opacity: 0; 
        height: 0px; 
        line-height: 0vh; 
}
}


// GENERAL
#main__container{
    display: flex;
    flex-direction: column;  
}

#main__title{
    font-family: "Shrikhand", sans-serif;
    font-size: 30px;
    height: auto;
    text-align: center;
    margin: 25px 0 25px 0;
}

a{
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

h3{
    margin: 0;
}

body{
    font-family: "Roboto", serif, sans-serif;
    margin: 0;
}

// LOCATION
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to bottom, $color-quinary 0% ,$color-quaternary 10%);
    font-size: 18px;
        &__icon{
            padding: 0 20px 0 50px;
        }  
}

// FORM SEARCH
.search{
    border: none;
    background-color: transparent;
    font-size: 18px;
}


// BOOK
.book{
    background-color: rgba(243, 241, 241, 0.86);
    text-align: center;
    &__title{
        font-size: 24px;
        font-weight: 700;
        margin: auto;
        text-align:center;
        padding: 30px 10px 0;
    }
        &__title__description{
            font-size: 20px;
            text-align: center;
            padding: 0 10px 0;
        }
          
}

.book__button{
    @include mixin-btn;
    @include box-shadow;
    margin-bottom: 50px;
    transition: all 300ms;

    &:hover{
        transition-delay: 0, 150ms;
        @include box-shadow-darker;
        opacity: 0.9;
    }
}

// INSTRUCTIONS
.instructions{
    margin: 0 5px 0 30px;
}

.instruction{
    text-align: left;
    width: 100%;
    &__container{
        margin-bottom: 50px;
    }
    &__container__title{
        margin: 40px 0 20px 25px;
       }

}

.instructions {
    list-style: none;
            &__steps{
                position: relative;
                padding: 20px;
                background-color: rgba(239, 237, 237, 0.711) ;
                @include box-shadow;
                border-radius: 25px;
                margin:0 15px 15px 0;
                cursor: pointer;
               
            }
                &__step{
                    position: absolute;
                    left:-10px;
                    height: 30px;
                    width: 30px;
                    background-color: $color-primary;
                    color: white;
                    border-radius: 50%;
                    text-align: center;
                    justify-content: center;  
                }
                    &__step--order{
                        position: absolute;
                        right: 11px;
                        top: 5px;
                    }
                        &__icon{
                            padding: 10px 20px;
                        }
                            &__icon--store{
                                padding: 10px 20px;
                                color: $color-primary;
                            }
                                &__text{
                                    font-weight: bold;
                                }
  }


//   RESTAURANTS
.restaurants{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: rgba(243, 241, 241, 0.86);
    &__title{
        margin: 50px 0 0 30px ;
        font-size: 26px;
    }
        &__container{
            justify-content: space-between;
            margin: 10px 20px 10px 20px;  
            flex-basis: 100%;
        }
            &__cards{
                flex-basis: 80%;
            }
                &__card{
                    border: 1px solid transparent;
                    margin: 15px;
                    border-radius: 15px;
                    box-shadow: 0 0 10px rgba(172, 172, 172, 0.515);
                    background-color: white;
                }
                    &__image{
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                        &__image img{
                            width: 100%;
                            height: 160px;
                            object-fit: cover; 
                        }
                            &__body{
                                text-decoration: none;
                                padding: 15px;
                                position: relative;
                                overflow: hidden;
                            }
                                &__place{
                                    padding-top: 5px;
                                }
                                    &__new{
                                        position:absolute;
                                        display: flex;
                                        flex-basis: 100%;
                                        right: 40px;
                                        top: 10px;
                                        padding: 5px 15px;
                                        background-color: $color-tertiary;
                                        border-radius: 3px;
                                        color: darken($color: #99E2D0, $amount: 40%);
                                       
                                    }
                                        &__btn{
                                            border: transparent;
                                            background-color: white;
                                            margin: 0;
                                            padding: 0;
                                            font-size: 30px;
                                            position: absolute;
                                            top: 15px;
                                            right: 50px;
                                            cursor: pointer;
                                            &:hover{
                                                .restaurants__like{
                                                    opacity: 1;
                                                }
                                            }
                                            &__like{
                                                opacity: 0;
                                                background-image: linear-gradient((175deg,$color-secondary, $color-primary));
                                                color: transparent;
                                                background-clip: border-box;
                                                -webkit-background-clip: text;
                                                -moz-background-clip: text;
                                                transition: all 1s ease-in-out;
                                                transform: scale(1.3);                                   
                                            }
                                        }                                                                              
}

// RESTAURANT HEART
.fa-heart{
       position: absolute;     
}

.restaurants__like{
    opacity: 0;
    background-image: linear-gradient((175deg,$color-secondary, $color-primary));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    transition: all 600ms ease-in-out;
    transform: scale(1.2);
 
}
//FOOTER HOMEPAGE
.footer{
    background-color: rgb(70, 69, 69);
    display: flex;
    flex-basis: 100%;
    align-items: center;
    &__logo{
        font-family: "Shrikhand", sans-serif;
        font-size: 16px;
        height: auto;
        color: white;
        padding:10px 0 0 40px;
    }
        &__lists{
            list-style: none;
            padding-bottom: 25px;
        }
            &__list{
                margin-bottom: 10px;
            }
                &__link{
                   color: white;
                }
                    &__icon{
                        padding-right: 10px;
                    }
}



@media only screen and (min-width:992px){

    #main__title{
        font-size: 40px;
    }

    .location{
        padding: 40px;
    }

    .instruction__container{
        margin-bottom: 30px;
    }

    .instructions{
       display: flex;
       flex-direction: row;
       position: relative;
       justify-content:space-around;
       margin-right: 20px;
       &__steps{
           width: 23%;
       }
    }

    .restaurants{
        background-color: white;
            &__container{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
            &__cards{
                flex-basis: 50%;
            }
    }      
}

@media only screen and (max-width:991px) and (min-width:768px){

    .instruction__container{
        display: flex;
        justify-content: space-between;
      
    }

    .instruction__title{
        text-align: center;
    }

    .instructions{
        margin: 40px 40px 0 0;
    }

    .restaurants{
        background-color: white;
            &__container{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
            &__cards{
                flex-basis: 50%;
            }
    }
}

@media only screen and (max-width:350px) and (min-width:310px){
    .search{
        font-size: 16px;
    }

    .location__icon{
        padding: 0 10px 0 40px;
    }
}