//TITLE
#main__title{
    font-family: "Shrikhand", sans-serif;
    font-size: 30px;
    height: auto;
    text-align: center;
    margin: 25px 0 25px 0;
}

// LOCATION
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to bottom, $color-quinary 0% ,$color-quaternary 10%);
    font-size: 18px;
        &__icon{
            padding: 0 20px 0 50px;
        }  
}

.place{
    display: flex;
}

// BOOK
.book{
    background-color: rgba(243, 241, 241, 0.86);
    text-align: center;
    &__title{
        font-size: 24px;
        font-weight: 700;
        margin: auto;
        text-align:center;
        padding: 30px 10px 0;
    }
        &__description{
            font-size: 20px;
            text-align: center;
            padding: 0 10px 0;
        }
          
}

// INSTRUCTIONS
.instructions{
    margin: 0 5px 0 30px;
}

.instruction{
    text-align: left;
    width: 100%;
    &__container{
        margin-bottom: 50px;
    }
    &__container__title{
        margin: 40px 0 20px 25px;
       }

}

.instructions {
    list-style: none;
            &__steps{
                position: relative;
                padding: 20px;
                background-color: rgba(239, 237, 237, 0.711) ;
                @include box-shadow;
                border-radius: 25px;
                margin:0 15px 15px 0;
                cursor: pointer;
               
            }
                &__step{
                    position: absolute;
                    left:-10px;
                    height: 30px;
                    width: 30px;
                    background-color: $color-primary;
                    color: white;
                    border-radius: 50%;
                    text-align: center;
                    justify-content: center;  
                }
                    &__step--order{
                        position: absolute;
                        right: 11px;
                        top: 5px;
                    }
                        &__icon{
                            padding: 10px 20px;
                        }
                            &__icon--store{
                                padding: 10px 20px;
                                color: $color-primary;
                            }
                                &__text{
                                    font-weight: bold;
                                }
  }



//   RESTAURANTS
.restaurants{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: rgba(243, 241, 241, 0.86);
    &__title{
        margin: 50px 0 0 30px ;
        font-size: 26px;
    }
        &__container{
            justify-content: space-between;
            margin: 10px 20px 10px 20px;  
            flex-basis: 100%;
        }
            &__cards{
                flex-basis: 80%;
            }
                &__cards__card{
                    border: 1px solid transparent;
                    margin: 15px;
                    border-radius: 15px;
                    box-shadow: 0 0 10px rgba(172, 172, 172, 0.515);
                    background-color: white;
                }
                    &__image{
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                        &__image img{
                            width: 100%;
                            height: 160px;
                            object-fit: cover; 
                        }
                            &__image__new{
                                position:absolute;
                                display: flex;
                                flex-basis: 100%;
                                right: 40px;
                                top: 10px;
                                padding: 5px 15px;
                                background-color: $color-tertiary;
                                border-radius: 3px;
                                color: darken($color: #99E2D0, $amount: 40%);
                            
                            }
                            &__body{
                                text-decoration: none;
                                padding: 15px;
                                position: relative;
                                overflow: hidden;
                            }
                                &__body__place{
                                    padding-top: 5px;
                                }
                                  
                                        &__body__place__btn{
                                            border: transparent;
                                            background-color: white;
                                            margin: 0;
                                            padding: 0;
                                            font-size: 30px;
                                            position: absolute;
                                            top: 15px;
                                            right: 50px;
                                            cursor: pointer;
                                            &:hover{
                                                .restaurants__body__place__btn__like{
                                                    opacity: 1;
                                                }
                                            }
                                        }                                                                              
}

// RESTAURANT HEART
.fa-heart{
       position: absolute;     
}

.restaurants__body__place__btn__like{
    opacity: 0;
    background-image: linear-gradient((175deg,$color-secondary, $color-primary));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    transition: all 600ms ease-in-out;
    transform: scale(1.2); 
}


@media only screen and (min-width:992px){

    .location{
        padding: 40px;
    }

    .instruction__container{
        margin-bottom: 30px;
    }

    .instructions{
       display: flex;
       flex-direction: row;
       position: relative;
       justify-content:space-around;
       margin-right: 20px;
       &__steps{
           width: 23%;
       }
    }

    .restaurants{
        background-color: white;
            &__container{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
            &__cards{
                flex-basis: 50%;
            }
    }

    .footer{
        justify-content: center;
        &__container{
            width: 100%;
        }
            &__logo{
                font-size: 26px;
                text-align: center;
                padding-bottom: 40px;
            }
                &__lists{
                    display: flex;
                    justify-content: space-between;
                    padding:0 0 25px 0;
                    margin: 0 200px;
                }
      
    }
       
}
@media only screen and (max-width:991px) and (min-width:768px){

    .instruction__container{
        display: flex;
        justify-content: space-between;
    }

    .instruction__container__title{
        text-align: center;
    }

    .instructions{
        margin: 40px 40px 0 0;
    }

    .restaurants{
        background-color: white;
            &__container{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
            &__cards{
                flex-basis: 50%;
            }
    }
}

