/* Variables*/
$color-primary:#9256dc;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-quaternary:#ececec;
$color-quinary:#d7d5d5;

$cd-btn-start: rbga(146, 86, 220, 0);
$cd-btn-end: rbga(146, 86, 220, 1);