// HEADER HOMEPAGE
#main__title{
    font-family: "Shrikhand", sans-serif;
    font-size: 30px;
    height: auto;
    text-align: center;
    margin: 25px 0 25px 0;
    @media only screen and (min-width:992px){
            font-size: 40px;   
    }
}

// HEADER MENUPAGE
#main__title__menu{
    font-family: "Shrikhand", sans-serif;
    font-size: 30px;
    height: auto;
    text-align: center;
}

.fa-arrow-left-long{
    position: absolute;
    top:35px;
    left: 40px;
    cursor: pointer;
    transform: scale(1.5);
}

