.meal{
    display: flex;
    background-color: white ;
    margin-bottom: 15px;
    justify-content: space-between;
    border-radius: 20px;
    cursor: pointer;
    @include box-shadow;
    overflow: hidden;
    max-width: 100%;
    animation: delay 400ms;
    animation-fill-mode: forwards;
    transform: scale(0);
    @media only screen and (max-width:992px) and (min-width:768px){
            width: 70%; 
    }
    &__header{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media only screen and (min-width:992px){    
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;   
        }   
    }

       &__header__name{
            margin: 5px;
            font-size: 18px;
            padding: 10px 0 0 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @media only screen and (min-width:992px){    
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;   
        }
        }
            &__header__name__ingredient{
                margin: 5px;
                justify-content: space-between;
                padding: 0 0 10px 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                @media only screen and (min-width:992px){    
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;   
            }
            }
                &__price{
                    font-weight: bold;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding:0 30px 15px 0;
                    margin-left: auto;
                }    
                    &__check {
                        width: 100px;
                        background-color: $color-tertiary;
                        border-radius: 0 20px 20px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: -100px;
                    }    
                        &:hover .meal__check{
                            margin-right: 0;
                            transition: 400ms; 
                        }   
                            &__check__circle{
                                background-color: white;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -moz-background-clip: text;
                                color: transparent;
                                transform: rotate(-180deg);
                                transition: 1s;
                             }
                             
                             &:hover .meal__check__circle{
                                 transform: rotate(0deg) scale(1.5);                                
                             }                                         
}


// MEAL DELAY
.delay{
    &--0{
        animation-delay: 100ms;
    }
    &--1{
        animation-delay: 200ms;
    }
    &--2{
        animation-delay: 300ms;
    }
    &--2b{
        animation-delay: 375ms;
    }
    &--3{
        animation-delay: 400ms;
    }
    &--4{
        animation-delay: 500ms;
    }
    &--5{
        animation-delay: 600ms;
    }
    &--6{
        animation-delay: 700ms;
    }
    &--7{
        animation-delay: 800ms;
    }
    &--8{
        animation-delay: 900ms;
    }
}


@media only screen and (max-width:992px) and (min-width:768px){

   .meal__starters, .meal__mainDish, .meal__dessert{
       display: flex;
       align-items: center;
       flex-direction: column;
       margin-top: 10px;
   }
 }
 

     
     