// MENU
.menus{
    background-color: #f5f5f5;
     &__title{
        padding: 30px 0 5px 5px;
        font-size: 20px;
        font-weight: 300;
    }
}


@keyframes delay {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }



.meal{
    display: flex;
    background-color: white ;
    margin-bottom: 15px;
    justify-content: space-between;
    border-radius: 20px;
    cursor: pointer;
    @include box-shadow;
    overflow: hidden;
    max-width: 100%;
    animation: delay 400ms;
    animation-fill-mode: forwards;
    transform: scale(0);

    &__header{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;     
    }
       &__name{
            margin: 5px;
            font-size: 18px;
            padding: 10px 0 0 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
            &__ingredient{
                margin: 5px;
                justify-content: space-between;
                padding: 0 0 10px 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
                &__price{
                    font-weight: bold;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding:0 30px 15px 0;
                    margin-left: auto;
                }    
                    &__check {
                        width: 100px;
                        background-color: $color-tertiary;
                        border-radius: 0 20px 20px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: -100px;
                    }    
                        &:hover .meal__check{
                            margin-right: 0;
                            transition: 400ms;
                        
                        }   
                            &__check__circle{
                                background-color: white;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -moz-background-clip: text;
                                color: transparent;
                                transform: rotate(-180deg);
                                transition: 1s;
                             }
                             &:hover .meal__check__circle{
                                 transform: rotate(0deg) scale(1.5);
                                 
                             }                                         
}